<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JCHART</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MultiSelectServlet</display-name>
    <servlet-name>MultiSelectServlet</servlet-name>
    <servlet-class>MultiSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiSelectServlet</servlet-name>
    <url-pattern>/MultiSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sld</display-name>
    <servlet-name>sld</servlet-name>
    <servlet-class>sld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sld</servlet-name>
    <url-pattern>/sld</url-pattern>
  </servlet-mapping>
</web-app>